.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  @include font-size(10px, 1.2, 800);
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  padding-left: 16px;
  padding-right: 26px;
  color: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 0;
    height: 100%;
    background-color: $dark;
    transition: width 0.5s ease-out;
  }

  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  } 
}