.slider-img {
  width: 74.3%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .45);
    z-index: 2;
  }
}
.slider-img__slide {
  height: 100%;
  overflow: hidden;
}

.slider-img__bg {
  height: 100%;
  background-position: center;
  background-size: cover;
}