.slider-gear {
  width: 470px;
  height: 470px;
  position: absolute;
  top: 50%;
  margin-top: -270px;
  right: calc(25.5% - 235px);
  background-image: url("../images/dist/gear.svg");
  background-position: center;
  background-size: cover;
  z-index: 4;
}