.slider-counter {
  position: absolute;
  text-align: right;
  top: 35px;
  right: 40px;
  z-index: 10;
  color: white;
  min-width: 140px;
  height: 68px;
  font-family: oswald-vh, Arial, sans-serif;
  @include font-size (24px, 36px, 500);

}
.slider-counter__current {
  color: $accent;
  @include font-size (40px, 59px, 500);
  margin-right: 8px;
}
