.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(white, $border-opacity);
  margin-top: -1px;
  border-bottom: 1px solid transparent;
  transition: background-color .25s ease-out;

  &:last-child {
    border-bottom: 1px solid rgba(white, $border-opacity);
  }

  &:hover {
    background-color: $accent;
    & img {
      opacity: 1;
      transition: all .5s ease-out;      
    }
  }

  & img {
    height: 16px;
    width: 16px;
    opacity: 0.2;
  }
}